.vp-block__input{
  background-color: transparent;
  border: none;
  border-bottom: 1px #e4ae58 solid;
  max-width: 400px;
}
  
.vp-block__input::placeholder{
  font-family: 'SourceSansPro', sans-serif;
  color: white;
}
.vp-block__input::placeholder:focus{
  content: none;
}

.vp-block__input:focus{
  
}

.vp-block__button{
  background-color: white;
  border: none;
  width: 100px;
  height: 30px;
  border-radius: 20px;
}

.vp-block__content-form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}
  