.vp-section__nav{
    background-color: rgba(240, 226, 215, .8);
    display: flex;
    position: fixed;
    height: 70px;
    width: 100%;
    top: 0px;
    z-index: 1;
}

.vp-section__logo{
    display: flex;
    width: 30%;
    justify-content: space-around;
}

.vp-section__logo-link{
    line-height: 70px;
    color: #333333;
    font-size: 1.4rem;
    letter-spacing: 1px;
    font-weight: 900;
    text-transform: capitalize;
    text-shadow: 1px 1px 1px rgb(255,255,255);
    text-decoration: none;
}

.vp-section__nav-list{
    display: flex;
    width: 50%;
    margin-left: 20%;
    justify-content: space-around;
}

.vp-section__nav-item{
    line-height: 70px;
    text-transform: uppercase;
}

.vp-section__nav-link{
    text-decoration: none;
    color: #6e6c6f;
    font-weight: 600;
}

.vp-section__nav-link:hover{
    color: #e4ae58;
    font-weight: 600;
}

.vp-nav-burger__checkbox {
    display: none;
}

.vp-section__nav-item-burger:hover{
    cursor: pointer;
}

.vp-section__nav-item-burger{
    display: none;
    height: 30px;
    margin-top: 20px;
}

.vp-burger-item{
    width: 40px;
    height: 2px;
    border-radius: 2px;
    background-color: #333333;
    margin-bottom: 10px;
}

.vp-nav-burger__checkbox:checked + .vp-nav-burger{
    z-index: 101;
}

.vp-nav-burger__checkbox:checked + .vp-nav-burger .vp-burger-item{
    background-color: white;
    width: 30px;
}

.vp-nav-burger__checkbox:checked + .vp-nav-burger .vp-burger-item-1{
    transform: skewY(-45deg) translateX(-5px) translateY(15px);
}

.vp-nav-burger__checkbox:checked + .vp-nav-burger .vp-burger-item-2{
    width: 0;
}

.vp-nav-burger__checkbox:checked + .vp-nav-burger .vp-burger-item-3{
    transform: skewY(45deg) translateX(-5px) translateY(2px);
}

.vp-section__nav-adaptive {
    display: none;
    position: absolute;
    left: 0;
    height: 100vh;
    width: 100%;
    box-shadow: inset 0 5px rgba(0, 0, 0, 0.5);
    background-color: black;
    z-index: 100;
}

.vp-nav-burger__checkbox:checked ~ .vp-section__nav-adaptive {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vp-nav-burger__checkbox:checked ~ .vp-section__nav-adaptive > .vp-section__nav-adaptive-content{
    display: flex;
    flex-direction: column;
    height: 30%;
    justify-content: space-around;
}

.vp-section__nav-item-adaptive{
    text-align: center;
}

.vp-section__nav-item-link-adaptive{
   text-transform: uppercase;
   text-decoration: none;
   color: white;
   font-weight: 600;
   font-size: 1.1rem;
}

.vp-section__nav-item-link-adaptive:hover{
    color: #e4ae58;
}
