html {
  scroll-behavior: smooth;
}

body{
  font-family: 'SourceSansPro', sans-serif;
}

.vp-section__content{
  display: flex;
}

.vp-section__info{
  width: 100%;
}

.vp-block__content-pic{
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.vp-block__el{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.vp-block__content-info{
  display: flex;
  width: 90%;
  flex-direction: column;
}

.vp-block__content-info_center{
  justify-content: center;
}

.vp-block__title{
  margin-bottom: 20px;
  font-size: 2.5rem;
  font-weight: 300;
  color: #333333;
}

.vp-block__subtitle{
  margin-bottom: 20px;
  color: #a99c93;
  letter-spacing: 1px;
  font-size: 0.8rem;
}

.vp-block__discr{
  font-weight: 400;
  font-size: 1rem;
  line-height: 2rem;
  color: #a99c93;
}

.vp-text__contact-link{
  text-decoration: none;
}

.vp-section__btn{
  font-family: 'SourceSansPro', sans-serif;
  letter-spacing: 1px;
  border: 3px #333333 solid;
  border-radius: 25px;
  font-weight: 900;
  background-color: transparent;
  text-transform: uppercase;
  padding: 13px 40px;
  margin-top: 50px;
}

.vp-section__btn-link{
  text-decoration: none;
  color: #333333;
}

button:hover{
  cursor: pointer;
}