html, body{
  margin: 0;
  padding: 0;
}

header{
  background-image: url(img/sport.jpg);
  height: 100vh;
}

nav{
  position: relative;
  height: inherit;
}

ul{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  width: 100%;
}

header nav ul li{
  height: auto;
  float: left;
  width: 25%;
  line-height: 33.33vh;
}

header a{
  letter-spacing: 10px;
  font-size: 35px;
  text-transform: uppercase;
  color: white;
}

header li:hover a{
  color: rgba(0,0,0,.7);
}

header li:hover{
  cursor: pointer;
  background-color: rgba(255,255,255,.4)
}

.text-list h1{
  background-color: black;
  margin: 0;
  padding: 50px 0;
  color: white;
  font-family: 'Lobster', cursive;
  text-align: center;
  font-size: 3em;
}

.text-list>div{
  padding: 20px 100px;
  text-indent: 20px;
}

.text-list div:nth-of-type(2n){
  background-color: lightgray;
}

a{
  font-family: Arial;
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
}

section>div>div{
  width: 100%;
}

section a{
  display: block;
  width: max-content;
  margin: 0 auto;
  line-height: 23px;
  color: black;
  text-decoration: line-through;
}

section a:hover{
  font-size: 23px;
}