@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
/* none-completed */
/* нужно менять! */
html, body{
  width: 1200px;
  margin: 0 auto;
}

.t5-header{
    height: 400px;
    background-color: #EFF8ED;
    overflow: hidden;
    position: relative;
    width: 1200px;
    margin: 0 auto;
}

.t5-header-block{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 200;
    background-color: rgba(255, 255, 255, .9);
    padding: 5px;
}

.t5-header-block__text{
    font-family: 'Kaushan Script', cursive;
    font-size: 40px;
    background-color: inherit;
    padding: 20px;
    border: 4px black solid;
    background: url(img/texture2.jpg);
    background-size: cover;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-transform: capitalize;
}

.t5-header-image{
    width: 1200px;
    margin: 0 auto;
}

.t5-icon{
    display: inline-block;
    background-image: url(img/icons.png);
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-position-y: 80px;
    margin: 15.5px;
    background-size: 460px 120px;
}

.t5-header-image__line{
    transform: translateY(-50px) rotate(-5deg);
}

.t5-icon-facebook{
    background-position-x: 0;
}

.t5-icon-dots{
    background-position-x: 10%;
}

.t5-icon-dribbble{
    background-position-x: 20%;
}

.t5-icon-google{
    background-position-x: 30%;
}

.t5-icon-linked{
    background-position-x: 40%;
}

.t5-icon-pinterest{
    background-position-x: 50%;
}

.t5-icon-wifi{
    background-position-x: 60%;
}

.t5-icon-skype{
    background-position-x: 70%;
}

.t5-icon-twitter{
    background-position-x: 80%;
}

.t5-icon-vine{
    background-position-x: 90%;
}

.t5-icon-youtube{
    background-position-x: 100%;
}

.t5-buttons_theme_light{
    border: 3px rgba(0, 0, 0, 0.1) solid;
}

.t5-buttons_theme_dark{
    background-color: #333333;
    margin-bottom: 20px;
}

.t5-buttons_theme_light, .buttons_theme_dark{
    padding: 50px;
    margin-top: 20px;
}

.t5-buttons_theme_light__button_color_pink,
.t5-buttons_theme_light__button_color_green,
.t5-buttons_theme_light__button_color_blue,
.t5-buttons_theme_light__button_color_red,
.t5-buttons_theme_light__button_color_orange,
.t5-buttons_theme_light__button_color_yellow,
.t5-buttons_theme_dark__button_color_pink,
.t5-buttons_theme_dark__button_color_green,
.t5-buttons_theme_dark__button_color_blue,
.t5-buttons_theme_dark__button_color_red,
.t5-buttons_theme_dark__button_color_orange,
.t5-buttons_theme_dark__button_color_yellow{
    border: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    color: white;
    text-transform: capitalize;
    font-weight: bold;
    text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.3);
    padding: 5px 10px;
    font-size: 15px;
    display: inline-block;
    border-radius: 5px;
}

/* не понятно!!!*/
.t5-buttons_theme_dark button{
    border: 1px black solid;
}

/* !!! */
.t5-button-line:not(:last-of-type){
    margin-bottom: 20px;
}

.t5-button_color_pink{
    background: linear-gradient(to bottom, #ff5dc3, #f71e9e);
    font-size: 25px;
}

.t5-button_color_green{
    background: linear-gradient(to bottom, #a8cb3b, #9fcc17);
}

.t5-button_color_blue{
    background: linear-gradient(to bottom, #5e9fe8, #4291eb);
}

.t5-button_color_red{
    background: linear-gradient(to bottom, #ec5c5c, #eb4141);
}

.t5-button_color_orange{
    background: linear-gradient(to bottom, #ff8440, #ff6e1a);
}

.t5-button_color_yellow{
    background: linear-gradient(to bottom, #ffc650, #feb91e);
}

.t5-buttons_theme_dark__button_color_blue{
    font-size: 14px;
    padding: 3px 10px;
}

.t5-buttons_theme_dark__button_color_orange{
    font-size: 14px;
    padding: 3px 10px;
}

.t5-buttons_theme_dark__button_color_yellow{
    font-size: 14px;
    padding: 4px 10px;
}

.t5-buttons_theme_dark__button_color_red{
    padding: 6px 10px;
}
